.DS_Store
node_modules
/npm-debug.log*
/nodemon.log

dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.rdb

/application/*/node_modules
/application/*/logs

/packages/*/node_modules
/packages/*/logs
logs
uploads
lerna-debug.log

api/shipper/newrelic_agent.log
junit.xml
pando-app-mocha.xml
pando-pay-mocha.xml

yarn.lock

config/certificate/STAR_gopando_in.ca-bundle
config/certificate/STAR_gopando_in.crt
config/certificate/_.gopando.in.key
frontend/shipper/static/sample/~$rateMatrixBulkUpload.xlsx
frontend/shipper/static/sample/~$optima.xlsx

api/shipper/.nyc_output/*
.tool-versions
/packages/pando-pay/scripts/output-data/*

package-lock.json

/api/shipper/coverage/

frontend/shipper/static/sample/~$vehicleBulkUpload.xlsx
frontend/shipper/static/sample/~$transporterBulkUpload.xlsx


/.run/